<div class="row" id="usernameContainer">
<div class="col-md-4 col-md-offset-4 welcomeText text-center">
<img src="../img/logos/topnotch_logoWHT.png" width="325">
<h4>Welcome, {{username}}!!</h4>
<h4>You will be redirected to your Company Dashboard</h4>


<a href="/index" class="btn btn-primary">Log Out</a>
</div>
</div>
<script>
setTimeout("location.href = './dash.html';",3000);
</script>